@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
    .promo {
        &__controls {
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 1200px) {
    .scroller {
        overflow-y: unset;
        scroll-snap-type: unset;
    }
    .container {
        max-width: 960px;
    }
    .menu {
        padding: 35px 60px 0 60px;
        align-items: flex-start;
    }
    .promo {
        height: unset;
        &__logo {
            display: none;
        }
        &__contacts {
            display: none;
        }
        &__title {
            left: unset;
            right: 0px; 
            text-align: right;
        }
        &__breadcrumbs {
            flex-direction: column;
            align-items: flex-start;
            &-divider {
                display: none;
            }
        }
    }
    .divider-mobile {
        display: block;
    }
    .mining {
        height: unset;
        &__logo {
            padding: 0;
        }
        &__menu {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__menu {
            display: none;
        }
        &__title {
            font-size: 28px;
            line-height: 36px;
            left: 0;
            top: 170px;
            transform: none;
            text-align: left;
            padding: 0 28px;
            max-width: 350px;
            &_white {
                text-align: right;
                left: unset;
                right: 0;
            }
        }
        &__breadcrumbs {
            padding: 0 0 0 28px;
            top: 350px;
            left: 0;
            gap: 0;
            &-link {
                color: #000;
                &.background--dark {
                    color: #fff;
                }
                &.background--light{
                    color: #000;
                }
            }
        }
        &__btn-goto {
            display: none;
        }
        &__btns {
            padding: 0;
            bottom: 48px;
            left: 50%;
            transform: translateX(-50%);
            &_hide {
                display: flex;
            }
        }
        &__controls {
            padding: 0;
            left: 50%;
            transform: translateX(-50%);
            bottom: 100px;
            color: #fff;
            &-prev {
                color: #fff;
            }
            &-next {
                color: #fff;
            }
        }
    }
    .menu {
        &-mobile {
            display: block;
        }
    }
    .mobile__hamburger {
        display: flex;
    }
    .mining {
        &__title {
            font-size: 28px;
            line-height: 36px;
        }
        &__grid {
            gap: 50px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
    .promo {
        &__bg {
            display: none;
            &_mobile {
                display: block;
            }
        }
    }
    .divider-mobile {
        border-color: #000;
    }
    .mining {
        &__logo {
            svg:nth-child(1) {
                width: 28px;
                height: 28px;
            }
            svg:nth-child(2) {
                width: 180px;
                height: 20px;
            }
        }
    }
}