@media (max-width: 1200px) {
    .scroller {
        overflow-y: unset;
        scroll-snap-type: unset;
    }
    .container {
        max-width: 960px;
    }
    .menu {
        align-items: unset;
        &__items {
            flex-direction: column;
            align-items: end;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}