@import 'libs/bootstrap-reboot.min';
@import 'libs/tiny-slider.css';
@import 'base/fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Geometria', sans-serif;
}
.container {
	width: 1320px;
	margin: 0 auto;
}

@import "blocks/promo";


